
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  --color-primary: #cce4e8;
  --color-secundary: #eff4ff;
  --color-tertiary: #323233;
}

body{
  background-color: var(--color-secundary);
  font-family: arial, sans-serif;
  margin: 0; /* sem margem */
  padding: 0; /* */
  margin: left 20px; ;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
}

header{ /* config do cabeçalho */
  width:100%;/* Largura do qaudradro*/
  padding:2rem; /* tamanho do quadrado azul */
  background-color:var(--color-primary);
  align-items:center;
  justify-content: center;
  display: flex;
}

.logo{
  position: absolute; /* Define a posição absoluta */
  top: 10px; /* Distância do topo */
  left: 20px; /* Distância da esquerda */
  height: auto; /* Altura da imagem */
  width: 150px; /* Largura será ajustada automaticamente para manter a proporção */
  z-index: 1; /* Garante que a imagem fique sobre o texto do cabeçalho */
  cursor:pointer;
}

h1 {
  color: var(--color-tertiary);
  font-family: "poppins", sans-serif;
}

.certoimg {
  height: 70px;
  margin-top: 30px; /* Distância do topo */
  margin-left: 120px;; /* Distância da esquerda */
}

.titleHeader{
  font-size: 170%;
  font-weight: bold;
  color: var(--color-tertiary);
  padding: 20px; /* largura do meio da pag. */
  text-align:center;
 
}

div.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--color-primary);
  margin-top: 4.5rem; /* configura a altura do footer */
  align-items: stretch;
  justify-content: space-evenly;
}
 
div.containerPart {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0.4rem

}

p.partTitle {
  color: var(--color-tertiary);
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}

.partText {  /* config do texto do footer */
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  text-align: left;
  margin: 0.2rem;
  color: #323233;
  font-weight: bold;
}


.containerInputs{ /*config do quadrado azul no meio da tela*/
  display:flex;
  flex-direction:column;
  align-items:center;/* texto centralizado*/
  margin: 0 auto; /*margem ajusta automaticamente*/
  background-color:var(--color-primary);
  padding: 20px; /*tamanho do quadrado azul*/
  width: 40%; /*largura do quadrado azul*/
}

div.containerIconAndText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

img.icon {
  height: 20px;
}

div.containerLine {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.line {
  width: 2px;
  height: 3rem;
  background-color: var(--color-secundary);
}

@media screen and (max-width: 713px){
  div.containerTitle {
    padding-top: 5rem;
  }
  p.text {
    font-size: 0.6rem;
  }
  p.textCheck {
    font-size: 0.6rem;
  }
  button.buttonResetPassword {
    font-size: 0.6rem;
  }
  div.footer {
    flex-direction: column;
    padding-bottom: 3rem;
  }
  div.line {
    display: none;
  }
  div.containerPart {
    align-items: center;
  }
}
