@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    --color-primary: #CCE4E8;
    --color-secondary: #EFF4FF;
     --color-tertiary: #323232;
     margin:0;
     padding: 0;
}


.header-img {
  position: absolute; /* Define a posição absoluta */
  top: 10px; /* Distância do topo */
  left: 20px; /* Distância da esquerda */
  height: auto; /* Altura da imagem */
  width: 90px; /* Largura será ajustada automaticamente para manter a proporção */
  z-index: 1; /* Garante que a imagem fique sobre o texto do cabeçalho */
  cursor:pointer;
}

 body{
    font-family:"Poppins", sans-serif;
    background-color: var(--color-secondary);
    font-size: xx-small;
    padding: 0;
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    display: block;
    height: 200%;
    color:var(--color-tertiary);
 }   
div.camposInformativos{
  display:grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-family: "Poppins" sans-serif;
  color: var(--color-tertiary);
}

h1{
    color: var(--color-tertiary);
    font-family: "Poppins", sans-serif;
  }

div.root{
  display: flex;
  background-color: var(--color-secondary);
  padding: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-self: flex-start;
   
   
}
.informação-img{
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-items:center;
}
div.containerTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  padding: 2rem 0;
}


div.containerText {
    width: 70%;
    background: var(--color-primary);
    margin-top: 1.2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p.text {
    font: size 100px;
    font-family:"Poppins", sans-serif;
    display:flex
  }
  div.containerInputs {
    width: 70%;
    margin-top: 1.4rem;
    display: flex;
    flex-direction: column;
  }
p{
    font-family: "Poppins", sans-serif;
    font-size: large;
    display: flex;
  }




div.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--color-primary);
    margin-top: 80px;
    align-items: stretch;
    justify-content: space-evenly;
    height: -200px;
    color:var(--color-tertiary);
  }
  div.containerPart {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 0.5rem
  }
  p.partTitle {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
  }
  p.partText {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 0.7rem;
    text-align: left;
    margin: 0.2rem;
  }
  div.containerIconAndText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  img.icon {
    height: 20px;
  }
  div.containerLine {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.line {
    width: 2px;
    height: 4rem;
    background-color: var(--color-secondary);
  }
 /* Media Queries para Responsividade */
 @media screen and (max-width: 713px){
  div.containerTitle {
    padding-top: 5rem;
  }
  p.text {
    font-size: 0.6rem;
  }
  p.textCheck {
    font-size: 0.6rem;
  }
  button.buttonResetPassword {
    font-size: 0.6rem;
  }
  div.footer {
    flex-direction: column;
    padding-bottom: 3rem;
  }
  div.line {
    display: none;
  }
  div.containerPart {
    align-items: center;
  }
}
